<div class="form-cont">
    <form [formGroup]="form" (submit)="isEnabled()" class="ui form">
        <div class="field">
            <h2>Sign up</h2>
        </div>
        <div class="field">
          <label>First Name</label>
          <input type="text" formControlName="name" name="name" placeholder="First Name">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" name="lastName" placeholder="Last Name">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="email" formControlName="email" name="email" placeholder="Email address">
        </div>
        <div class="field">
            <label>Phone number</label>
            <input type="text" formControlName="phoneNumber" name="phoneNumber" placeholder="Phone number">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" formControlName="password" name="password" placeholder="Password">
        </div>
        <div class="field">
            <label>Confirm Password</label>
            <input type="password" formControlName="confPassword" name="confPassword" placeholder="Confirm password">
        </div>
        <button [disabled]="!form.valid" class="ui btn button" type="submit">Submit</button>
        {{ form.value | json }}
    </form>
    <div class="check-this">
        
    </div>
    
</div>

